<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579051887787-4va0bekvhq6lldbksrrjvrbbledkqihi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579051887787-4va0bekvhq6lldbksrrjvrbbledkqihi</string>
	<key>API_KEY</key>
	<string>AIzaSyDHHubxgoUojBJ0gv9ct3MXZW7wg-CtSrk</string>
	<key>GCM_SENDER_ID</key>
	<string>579051887787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attorney.app</string>
	<key>PROJECT_ID</key>
	<string>attorney-e5f09</string>
	<key>STORAGE_BUCKET</key>
	<string>attorney-e5f09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579051887787:ios:73a3822e4b486d42356bee</string>
</dict>
</plist>